/*
  Github light/dark theme based on work by @Hirse
  https://github.com/highlightjs/highlight.js/blob/main/src/styles/github.css
*/


:root {
  /* Dark mode syntax highlighting colors */
  --keyword: oklch(73.45% 0.163 25.78);
  --entity: oklch(80.05% 0.127 305.86);
  --constant: oklch(78.57% 0.115 246.66);
  --string: oklch(78.57% 0.115 246.66);
  --variable: oklch(79.91% 0.141 60.1);
  --comment: oklch(66.25% 0.018 250.92);
  --entity-tag: oklch(84.16% 0.164 145.75);
  --markup-heading: oklch(56.86% 0.202 259.67);
  --markup-list: oklch(85.74% 0.133 89.95);
  --markup-inserted: oklch(90.72% 0.112 146.34);
  --markup-deleted: oklch(92.23% 0.04 27.49);
}

.hljs {
  color: var(--color-txt);
  background: var(--color-bg);
}

.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  color: var(--keyword);
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  color: var(--entity);
}

.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
  color: var(--constant);
}

.hljs-regexp,
.hljs-string,
.hljs-meta .hljs-string {
  color: var(--string);
}

.hljs-built_in,
.hljs-symbol {
  color: var(--variable);
}

.hljs-comment,
.hljs-code,
.hljs-formula {
  color: var(--comment);
}

.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
  color: var(--entity-tag);
}

.hljs-subst {
  color: var(--storage-modifier-import);
}

.hljs-section {
  color: var(--markup-heading);
  font-weight: bold;
}

.hljs-bullet {
  color: var(--markup-list);
}

.hljs-emphasis {
  color: var(--markup-italic);
  font-style: italic;
}

.hljs-strong {
  color: var(--markup-bold);
  font-weight: bold;
}

.hljs-addition {
  color: var(--markup-inserted);
  background-color: var(--color-border);
}

.hljs-deletion {
  color: var(--markup-deleted);
  background-color: var(--color-border);
}

.hljs-char.escape_,
.hljs-link,
.hljs-params,
.hljs-property,
.hljs-punctuation,
.hljs-tag {
  /* purposely ignored */
}
