html {
  overscroll-behavior: none;
}

body {
  --footer-height: calc((var(--block-space)) + 3.6em + var(--block-space));
  --navbar-height: 4.125em;
  --sidebar-width: 0vw;

  display: grid;
  grid-template-areas:
    "sidebar nav"
    "sidebar main";
  grid-template-columns: var(--sidebar-width) 1fr;
  grid-template-rows: min-content 1fr;
  max-block-size: 100dvh;

  &.sidebar {
    @media (min-width: 100ch) {
      --sidebar-width: 260px;
    }
  }
}

#app-logo {
  display: none;
}

#nav {
  grid-area: nav;
}

#main-content {
  align-content: start;
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  grid-area: main;
  overflow: auto;
  position: relative;

  .sidebar & {
    justify-content: end;

    @media (min-width: 100ch) {
      border-inline-start: 1px solid var(--color-border-darker);
    }
  }
}

#sidebar {
  grid-area: sidebar;
  position: relative;
  transition: transform 300ms ease;

  .sidebar & {
    background-color: var(--color-sidebar-bg);
    block-size: 100dvh;
    max-block-size: 100dvh;
    z-index: 3;

    @media (max-width: 100ch) {
      inset: 0;
      position: fixed;
      transform: translate(-100%);
    }
  }

  &.open {
    @media (max-width: 100ch) {
      transform: translate(0);
    }
  }
}

#footer {
  grid-area: footer;
}
