#nav {
  align-items: center;
  background-color: var(--color-bg);
  border-block-end: none;
  column-gap: var(--inline-space-half);
  display: flex;
  inset: 0 0 auto 0;
  inset-inline-start: var(--sidebar-width);
  padding-block: var(--block-space);
  padding-inline: var(--inline-space) var(--inline-space-double);
  pointer-events: auto;
  position: fixed;
  row-gap: var(--block-space);
  z-index: 2;

  .sidebar & {
    @media (min-width: 100ch) {
      border-inline-start: 1px solid var(--color-border-darker);
    }

    @media (max-width: 100ch) {
      padding-block: var(--block-space-half);
    }
  }
}

.nav__channel-info {
  align-items: center;
  display: flex;
  gap: 4px;
  min-inline-size: 0;
}

.nav__hash {
  color: var(--color-border-darker);
  font-size: 1.1rem;
  font-weight: 400;
}

.nav__channel-name {
  font-size: 1.1rem;
  font-weight: 700;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nav__spacer {
  flex: 1;
}

.nav__tools {
  align-items: center;
  display: flex;
  gap: var(--inline-space-half);
}

.skip-navigation {
  --left-offset: -999em;

  inset-block-start: 4rem;
  inset-inline-start: var(--left-offset);
  position: absolute;
  white-space: nowrap;
  z-index: 11;

  &:focus {
    --left-offset: var(--inline-space);
  }
}
