<div class="huddle-global-indicator"
     data-controller="huddle-indicator"
     hidden>
  <div class="huddle-global-indicator__content">
    <span class="call-banner__live">LIVE</span>
    <span class="huddle-global-indicator__room" data-huddle-indicator-target="roomName"></span>
    <button class="btn btn--reversed btn--small" data-action="huddle-indicator#returnToCall" data-huddle-indicator-target="returnBtn">
      Return
    </button>
    <button class="btn btn--small" data-action="huddle-indicator#leave">
      Leave
    </button>
  </div>
</div>
