<div class="mingle-global-indicator"
     data-controller="mingle-indicator"
     hidden>
  <div class="mingle-global-indicator__content">
    <span class="call-banner__live">LIVE</span>
    <span class="mingle-global-indicator__room" data-mingle-indicator-target="roomName"></span>
    <button class="btn btn--reversed btn--small" data-action="mingle-indicator#returnToCall" data-mingle-indicator-target="returnBtn">
      Return
    </button>
    <button class="btn btn--small" data-action="mingle-indicator#leave">
      Leave
    </button>
  </div>
</div>
